@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

$theme-colors: (
  "kak-blue": #110148
);

nav.navbar-dark.bg-kak-blue {

  .nav-item .nav-link,
  .navbar-brand {
    color: #ff3e3e;
    font-weight: 500;
    transition-duration: 200ms;
  }

  .nav-item .nav-link:hover,
  .navbar-brand:hover {
    color: darken( #ff3e3e, 20%);
  }
}

.mdOutput {
  h1 {font-size: 2em; font-weight: 700;}
  h2 { font-size: 1.75em; font-weight: 700;}
  h3 { font-size: 1.6em; font-weight: 600;}
  h4 { font-size: 1.5em;  font-weight: 600;}
  h5 { font-size: 1.25em; font-weight: 600;}
  h6 { font-size: 1.1em; font-weight: 600;}
}

@import "bootstrap";