<% if (locals.posts){ %>

    <% posts.forEach( (post) => { %>
        <div class="blogContainer">

                <h1 class="blogTitle">
                    <a href="/blog/<%- post.slug %>" >
                        <%- post.title %>
                    </a>
                </h1>
            
                <div class="blogDate"><%- post.date.toLocaleDateString() %> at <%- post.date.toLocaleTimeString() %></div>
            
                <div class="blogContent"><%- post.content %></div>
            
                <div class="tags"><%- post.tags %></div>
            
            </div>
    <% }); %>

<% } %>

<div class="pagination">

    <% if (locals.prevPage){ %>
        <% let prevPageNum = parseInt(pageNum)-1; %>
        <a href="/?p=<%- prevPageNum %>">Previous Page</a>
    <% } %>

    <div class="pageNum"><%- pageNum %></div>

    <% if (locals.nextPage){ %>
        <% let nextPageNum = parseInt(pageNum)+1; %>
        <a href="/?p=<%- nextPageNum %>">Next Page</a>
    <% } %>
</div>